# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
debug_vision.log
notifications.log
*.pt

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
build/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
